<!-- Form: edit Transaction -->
<div class="card mb-4">
    <div class="card-header p-2">
        <h6 class="m-0 text-dark">Izmena transakcije:</h6>
    </div>
    <div class="card-body p-2">
        <form action="/pidb/{{ pidb_id }}/transaction/{{ transaction.id }}/edit"
              method="post" role="form">

            <div class="row mb-2">
                <label for="article" class="col-sm-3 col-form-label">Dokument:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm"
                           value="{{ pidb.type.name }} {{ '%04d'|format(pidb.getOrdinalNumInYear()) }}-{{ pidb
                               .getCreatedAt().format('m') }} - {{ client.name }}" />
                </div>
            </div>

            <div class="row mb-2">
                <label for="transaction_type" class="col-sm-3 col-form-label">Vrsta transakcije:</label>
                <div class="col-sm-4">
                    <select class="form-select form-select-sm" name="type_id" id="transaction_type">
                        {% if pidb.type.id == 1 %}
                            <option value="1">Avans (gotovinski)</option>
                            <option value="2">Avans (virmanski)</option>
                        {% endif %}
                        {% if pidb.type.id == 2 %}
                        <option value="3">Uplata (gotovinska)</option>
                        <option value="4">Uplata (virmanska)</option>
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <label for="date" class="col-sm-3 col-form-label">Datum transakcije:</label>
                <div class="col-sm-4">
                    <input type="date" class="form-control form-control-sm" id="date"
                           name="date" value="{{ transaction.date|date('Y-m-d') }}" />
                </div>
            </div>

            <div class="row mb-2">
                <label for="amount" class="col-sm-3 col-form-label">Iznos:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" name="amount"
                           id="amount" value="{{ transaction.amount }}" />
                </div>
            </div>

            <div class="row mb-2">
                <label for="note" class="col-sm-3 col-form-label">Beleška:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" name="note"
                           id="note" value="{{ transaction.note }}" />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-3 offset-sm-3">
                    <button type="submit" class="btn btn-sm btn-primary" >Izmeni transakciju</button>
                </div>
            </div>

        </form>

    </div>
</div>
