<!-- Modal addSupplier -->
<div class="modal fade" id="addSupplier" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Dodavanje dobavljača</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="/material/{{ material_id }}/addSupplier" method="post">
                <input type="hidden" name="id" value="{{ material_id }}">

                <div class="modal-body">

                    <div class="row mb-2">
                        <label for="selectClient" class="col-sm-3 col-form-label text-right">
                            Dobavljač
                        </label>
                        <div class="col-sm-8">
                            <select id="selectClient" class="form-select form-select-sm" name="supplier_id"
                                    required="required">
                                <option value="">izaberi dobavljača</option>
                                {% for supplier in suppliers %}
                                  <option value="{{ supplier.getId() }}">{{ supplier.getName() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label for="inputCode" class="col-sm-3 col-form-label text-right">
                            Šifra po dobavljaču
                        </label>
                        <div class="col-sm-6">
                            <input id="inputCode" type="text" class="form-control form-control-sm" name="note" value=""
                                 placeholder="Upišite šifru materijala" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label for="inputPrice" class="col-sm-3 col-form-label text-right">
                            Cena
                        </label>
                        <div class="col-sm-6">
                            <input id="inputPrice" type="text" class="form-control form-control-sm" name="price"
                                   value="" placeholder="Upišite cenu" />
                        </div>
                    </div>

                    <div class="modal-footer p-2">
                        <button type="submit" class="btn btn-primary" >Dodaj dobavljača</button>
                    </div>

                </div>
                <!-- End Modal Body -->

            </form>
        </div>
    </div>
</div>
<!-- End Modal addSupplier -->

<!-- Modal addProperty -->
<div class="modal fade" id="addProperty" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Dodavanje osobine materiala</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="/material/{{ material_id }}/addProperty" method="post">
                <input type="hidden" name="id" value="{{ material_id }}">

                <div class="modal-body">

                    <div class="row mb-2">
                        <label for="selectPropertyItem" class="col-sm-3 col-form-label text-right">
                            Osobina
                        </label>
                        <div class="col-sm-5">
                            <select id="selectPropertyItem" class="form-select form-select-sm" name="property_item_id"
                                    required="required">
                                <option value="">izaberi osobinu</option>
                                {% for property_item in property_list %}
                                    <option value="{{ property_item.getId() }}">{{ property_item.getName() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label for="inputMin" class="col-sm-3 col-form-label text-right">
                            Min
                        </label>
                        <div class="col-sm-8">
                            <input id="inputMin" type="text" class="form-control form-control-sm" name="min_size"
                                   value="0" placeholder="Minimalna moguća vrednost osobine" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label for="inputMax" class="col-sm-3 col-form-label text-right">Max</label>
                        <div class="col-sm-8">
                            <input id="inputMax" type="text" class="form-control form-control-sm" name="max_size"
                                   value="0" placeholder="Maksimalna moguća vrednost osobine" />
                        </div>
                    </div>

                    <div class="modal-footer p-2">
                        <button type="submit" class="btn btn-primary" >Dodaj osobinu</button>
                    </div>
                </div>

            </form>

        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<!-- End Modal addProperty -->
