<!-- New Cutting -->
<div class="card mb-4">
    <div class="card-header p-2">
        <h6 class="m-0 text-dark">Otvaranje nove krojne liste:</h6>
    </div>
    <div class="card-body p-2">
        <form action="/cuttings/add" method="post">

            <div class="row mb-2">
                <label for="date" class="col-sm-3 col-lg-2 col-form-label text-right">Datum: </label>
                <div class="col-sm-3">
                   <input class="form-control form-control-sm" id="date" type="text" value="{{ "now"|date("d M Y") }}" >
                </div>
            </div>

            <div class="row mb-2">
                <label for="selectClientId" class="col-sm-3 col-lg-2 col-form-label text-right">Izaberi klijenta: </label>
                <div class="col-sm-5">
                    <select id="selectClientId" class="form-select form-select-sm" name="client_id" required>
                    {% if client %}
                        <option value="{{ client.id }}">{{ client.name }}</option>
                    {% else %}
                        <option value="">Izaberite klijenta</option>
                    {% endif %}
                    {% for client in clients_list %}
                        <option value="{{ client.id }}">
                            {{ client.name }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3 offset-sm-3 offset-lg-2">
                    <button type="submit" class="btn btn-sm btn-success text-nowrap">
                        Otvori novu krojnu listu
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>