{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    {% include 'client/tools_menu.html.twig' %}
    <div class="col-sm-12 col-md-11 col-lg-9 col-xl-7 px-2">
        <div class="card mb-4">
            <div class="card-header p-2">Upis podataka o novom klijentu:</div>
            <div class="card-body">
                {{ form_start(form) }}

                <div class="row mb-2">
                    {{ form_label(form.type) }}
                    <div class="col-sm-4">{{ form_widget(form.type) }}</div>
                </div>
                <div class="row mb-2">
                    {{ form_label(form.name) }}
                    <div class="col-sm-9">{{ form_widget(form.name) }}</div>
                </div>
                <div class="row mb-2">
                    {{ form_label(form.name_note) }}
                    <div class="col-sm-9 offset-sm-3">{{ form_widget(form.name_note) }}</div>
                </div>
                <div class="row mb-2">
                    {{ form_label(form.lb) }}
                    <div class="col-sm-3">{{ form_widget(form.lb) }}</div>
                </div>
                <div class="row mb-2">
                    {{ form_label(form.is_supplier) }}
                    <div class="col-sm-3">{{ form_widget(form.is_supplier) }}<span class="ml-4">Jeste</span></div>
                </div>
                <div class="row mb-2">
                    {{ form_label(form.country) }}
                    <div class="col-sm-5">{{ form_widget(form.country) }}</div>
                </div>
                <div class="row mb-2">
                    {{ form_label(form.city) }}
                    <div class="col-sm-5">{{ form_widget(form.city) }}</div>
                </div>
                <div class="row mb-2">
                    {{ form_label(form.street) }}
                    <div class="col-sm-5">{{ form_widget(form.street) }}</div>
                </div>
                <div class="row mb-2">
                    {{ form_label(form.home_number) }}
                    <div class="col-sm-2">{{ form_widget(form.home_number) }}</div>
                    <div class="col-sm-7">{{ form_widget(form.address_note) }}</div>
                </div>
                <div class="row mb-2">
                    {{ form_label(form.note) }}
                    <div class="col-sm-9">{{ form_widget(form.note) }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-3 offset-sm-3">
                        <button type="submit" class="btn btn-sm btn-success" title="Snimi podatake o klijentu!">
                            <i class="fas fa-save"> </i> Snimi
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}