<!-- Modal addContact -->
<div class="modal" id="addContact" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Dodavanje kontakta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(contact_form) }}
                <div class="modal-body">
                    <div class="form-group row">
                        {{ form_label(contact_form.type) }}
                        <div class="col-sm-5">{{ form_widget(contact_form.type) }}</div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(contact_form.body) }}
                        <div class="col-sm-9">{{ form_widget(contact_form.body) }}</div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(contact_form.note) }}
                        <div class="col-sm-9">{{ form_widget(contact_form.note) }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Dodaj kontakt</button>
                </div>
            {{ form_end(contact_form) }}
        </div>
    </div>
</div><!-- End of Modal addContact -->
