<div class="col-sm-12 px-2" id="topMeni">

    <div class="card mb-2">
        <div class="card-body p-1">

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                <div class="btn-group mb-1 mb-sm-0" role="group" aria-label="First group">
                    <a href="/client/new" class="btn btn-sm btn-outline-secondary mr-1" title="Upis novog klijenta!">
                        <i class="fas fa-plus"> </i>
                        <i class="fas fa-user"> </i>
                    </a>
                </div>

                {% if tools_menu.client %}

                    {% if tools_menu.view %}
                        <a href="/client/{{ client.id }}/edit" class="btn btn-sm btn-outline-secondary mr-1"
                           title="Idi na stranicu za izmenu podataka o klijentu!">
                            <i class="fas fa-edit"> </i> Izmena
                        </a>
                    {% endif  %}

                    {% if tools_menu.edit %}
                        <a href="/client/{{ client.id }}" class="btn btn-sm btn-outline-secondary mr-1"
                           title="Idi na stranicu za pregled podataka o klijentu">
                            <i class="fas fa-eye"> </i> Pregled
                        </a>
                    {% endif  %}

                    <!-- Button trigger for modal addContact. -->
                    <a href="#" class="btn btn-sm btn-outline-secondary mr-1" data-toggle="modal" data-target="#addContact"
                       title="Dodaj novi kontakt!">
                        <i class="fas fa-plus"> </i> Kontakt
                    </a>

                    <!-- Open new project with client data. -->
                    <a href="/projects/new?client_id={{ client.id }}"
                       class="btn btn-sm btn-outline-secondary mr-1" title="Otvaranje novog projekta!">
                        <i class="fas fa-arrow-right"> </i> Projekat
                    </a>

                    <!-- Open new proforma-invoice with client data. -->
                    <a href="/pidbs/new?client_id={{ client.id }}"
                       class="btn btn-sm btn-outline-secondary mr-1" title="Otvaranje novog predračuna!">
                        <i class="fas fa-arrow-right"> </i> Predračun
                    </a>

                    <!-- Open new cutting with client data. -->
                    <a href="/cuttings/add?client_id={{ client.id }}" class="btn btn-sm btn-outline-secondary" title="Otvaranje nove krojne liste!">
                        <i class="fas fa-arrow-right"> </i> <i class="fas fa-cut"> </i>
                    </a>

                {% endif %}

            </div>

        </div>
    </div>
</div>
