<!doctype html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="D-Office business application">
    <meta name="author" content="Dragan Jancikin">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap 5.2.3 -->
        <link rel="stylesheet" href="{{ stylesheet }}/bootstrap-5.2.3/css/bootstrap.min.css">
        <!-- Custom fonts for this template-->
        <link href="{{ stylesheet }}theme-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ stylesheet }}theme-admin-2/css/sb-admin-2.min.css" rel="stylesheet">
        <link href="{{ stylesheet }}css/my-css.css" rel="stylesheet">
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ stylesheet }}/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ stylesheet }}/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ stylesheet }}/favicon/favicon-16x16.png">
    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {{ include('includes/left_sidebar_meni.html.twig') }}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Top-bar -->
            {{ include('includes/top_bar.html.twig') }}
            <!-- End of Top-bar -->

            <!-- Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-2">
                    <h1 class="h3 mb-0 text-gray-800"><?php echo $page_title ?></h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                {% block body %}
                    <div class="col-lg-12 px-2">
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-primary">
                            {{ message|raw }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">
                            {{ message|raw }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            {{ message|raw }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('warning') %}
                        <div class="alert alert-warning">
                            {{ message|raw }}
                        </div>
                    {% endfor %}
                    </div>
                {% endblock %}

                </div>
                <!-- End of Content Row -->

            </div>
            <!-- End of Page Content -->

        </div>
        <!-- End of Main Content -->

        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>{{ app_version }}  Copyright &copy; {{ "now"|date("Y") }}</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{# Page body footer #}
{# Bootstrap core JavaScript #}
<script src="{{ stylesheet }}theme-admin-2/vendor/jquery/jquery.min.js"></script>
<script src="{{ stylesheet }}theme-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{# Core plugin JavaScript #}
<script src="{{ stylesheet }}theme-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>

{# Custom scripts for all pages #}
<script src="{{ stylesheet }}theme-admin-2/js/sb-admin-2.min.js"></script>

{# Page level plugins #}
<!-- <script src="{{ stylesheet }}theme-admin-2/vendor/chart.js/Chart.min.js"></script> -->
<script src="{{ stylesheet }}theme-admin-2/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{{ stylesheet }}theme-admin-2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

{# Additional JS #}
<script src="{{ stylesheet }}js/add.js"></script>
</body>
</html>
