<div class="col-lg-12 px-2" id="topMeni">
    <div class="card mb-2">
        <div class="card-body py-1 px-2">
            <a href="/pidbs/add" class="btn btn-sm btn-outline-secondary" title="Otvaranje novog dokumenta!">
                <i class="fas fa-plus"> </i> Dokument
            </a>

            {% if tools_menu.pidb %}

                {% if tools_menu.view %}
                    <a href="/pidb/{{ pidb_id }}/edit">
                        <button type="button" class="btn btn-sm btn-outline-secondary mx-1"
                                title="Idi na stranicu za izmenu podataka o dokumentu!">
                            <i class="fas fa-edit"> </i>
                        </button>
                    </a>
                {% endif  %}

                {% if tools_menu.edit %}
                    <a href="/pidb/{{ pidb_id }}">
                        <button type="button" class="btn btn-sm btn-outline-secondary mx-1"
                                title="Idi na stranicu za pregled podataka o dokumentu!">
                            <i class="fas fa-eye"> </i>
                        </button>
                    </a>
                {% endif %}

                {# Button trigger modal za dodavanje proizvoda u dokument #}
                <button type="button" class="btn btn-sm btn-outline-secondary mr-1" data-toggle="modal"
                        data-target="#addArticle" title="Dodaj novi proizvod!">
                    <i class="fas fa-plus"> </i> Proizvod
                </button>

                {# Print proforma buttons #}
                <a href="/pidb/{{ pidb_id }}/print" target="_blank">
                    <button type="button" class="btn btn-sm btn-outline-secondary mr-1" title="Štampaj!">
                        <i class="fas fa-print"> </i>
                    </button>
                </a>
                <a href="/pidb/{{ pidb_id }}/printW" target="_blank">
                    <button type="button" class="btn btn-sm btn-outline-secondary mr-1" title="Štampaj!">
                        <i class="fas fa-print"> </i> w
                    </button>
                </a>

                {# Print dispatch buttons #}
                {% if pidb_type_id == 2 %}
                    <a href="/pidb/{{ pidb_id }}/printI" target="_blank">
                        <button type="button" class="btn btn-sm btn-outline-secondary mr-1" title="Štampaj!">
                            <i class="fas fa-print"> </i> I
                        </button>
                    </a>
                    <a href="/pidb/{{ pidb_id }}/printIW" target="_blank">
                        <button type="button" class="btn btn-sm btn-outline-secondary mr-1" title="Štampaj!">
                            <i class="fas fa-print"> </i> IW
                        </button>
                    </a>
                {% endif %}

                {# Proforma buttons #}
                {% if pidb_type_id == 1 %}
                    <a href="/pidb/{{ pidb_id }}/exportProformaToDispatch">
                        <button type="button" class="btn btn-sm btn-outline-secondary mr-1"
                            {% if pidb_data.is_archived %}
                                title="Predračun je arhiviran i nije ga moguće izvesti u otpremnicu" disabled
                            {% else %}
                                title="Izvezi u otpremnicu"
                            {% endif %}
                        >
                            <i class="fas fa-share"> </i> Otpremnica
                        </button>
                    </a>

                    <a href="/projects/add?client_id={{ pidb_data.client.id }}&acc_doc_id={{ pidb_id }}">
                        <button type="button" class="btn btn-sm btn-outline-secondary mr-1" title="Novi projekat!">
                            <i class="fas fa-share"> </i> <i class="fas fa-project-diagram"></i>
                        </button>
                    </a>
                {% endif %}

                {% if user_role_id == 1 %}
                    {% if previous %}
                        <a href="/pidb/{{ previous.id }}">
                            <button type="submit" class="btn btn-sm btn-outline-secondary mr-1">
                                <i class="fas fa-arrow-left"> </i>
                            </button>
                        </a>
                    {% endif %}
                    {% if next %}
                        <a href="/pidb/{{ next.id }}">
                            <button type="submit" class="btn btn-sm btn-outline-secondary mr-1">
                                <i class="fas fa-arrow-right"> </i>
                            </button>
                        </a>
                    {% endif %}
                {% endif %}

                {# Button trigger modal za evidentiranje transakcije #}
                <button type="button" class="btn btn-sm btn-outline-secondary mr-1" data-toggle="modal"
                        data-target="#addPayment"
                        {% if pidb_data.is_archived %}
                            title="Predračun je arhiviran i nije moguće videntiranje transakcija" disabled
                        {% else %}
                            title="Evidentiranje transakcija"
                        {% endif %}
                >
                    <i class="fas fa-hand-holding-usd"></i>
                </button>
                <a href="/pidb/{{ pidb_id }}/transactions">
                    <button type="submit" class="btn btn-sm btn-outline-secondary mr-1" title="Pregled transakcija">
                        <i class="fas fa-eye"></i> <i class="fas fa-dollar-sign"></i>
                    </button>
                </a>
            {% endif %}

            {% if tools_menu.cash_register and not tools_menu.pidb %}
                <!-- Button trigger modal za cash input -->
                <button type="button" class="btn btn-sm btn-outline-secondary mr-1" data-toggle="modal" data-target="#cashInput" title="Ulaz gotovine u kasu">
                    <i class="fas fa-euro-sign"></i>
                    ->
                    <i class="fas fa-cash-register"></i>
                </button>
                <!-- Button triger modal za cash output -->
                <button type="button" class="btn btn-sm btn-outline-secondary mr-1" data-toggle="modal" data-target="#cashOutput" title="Izlaz gotovine iz kase">
                    <i class="fas fa-cash-register"></i>
                    ->
                    <i class="fas fa-euro-sign"></i>
                </button>

                <!-- Print Button -->
                <a href="/pidbs/printDailyCacheReport" target="_blank">
                    <button type="submit" class="btn btn-sm btn-outline-secondary mr-1" title="Štampaj!">
                        <i class="fas fa-print"> </i>
                        <i class="fas fa-cash-register"></i>
                    </button>
                </a>
            {% endif %}

        </div>
    </div>

</div>
<!-- /#topMeni -->
