{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    {% include 'document/tools_menu.html.twig' %}
    <div class="col-lg-12 px-2">
        <div class="card border-info mb-4">

            <div class="card-header bg-info p-2">
                <h6 class="m-0 font-weight-bold text-white">Predračun</h6>
            </div>

            <div class="card-body p-2">
                <div class="table-responsive">
                    <table class="table table-hover" id="" width="100%" cellspacing="0">
                        <thead class="thead-light">
                        <tr>
                            <th>oznaka</th>
                            <th>naziv klijenta</th>
                            <th>opis dokumenta</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for proforma in proformas %}
                                <tr>
                                    <td>
                                        <a href="/documents/{{ proforma.id }}">
                                            P_{{ '%04d'|format(proforma.getOrdinalNumInYear()) }} - {{ proforma.getCreatedAt().format('m / Y') }}
                                        </a>
                                    </td>
                                    <td>{{ proforma.client.name }}</td>
                                    <td>{{ proforma.title }}</td>
                                    <td>
                                        {% if proforma.id == last.id %}
                                            <a onclick="return confirm('Da li ste sigurni da želite da obrišete dokument?');"
                                               href="/documents/{{ proforma.id }}/delete" class="btn btn-mini
                                               btn-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h5>Arhivirano</h5>
                    <table class="table table-hover dataTable" id="" width="100%" cellspacing="0">
                        <thead class="thead-light">
                        <tr>
                            <th>oznaka</th>
                            <th>naziv klijenta</th>
                            <th>opis dokumenta</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for proforma_archived in proformas_archived %}
                                <tr class="table-secondary">
                                    <td>
                                        <a href="/documents/{{ proforma_archived.id }}">
                                            P_{{ '%04d'|format(proforma_archived.getOrdinalNumInYear()) }} - {{ proforma_archived.getCreatedAt().format('m / Y') }}
                                        </a>
                                    </td>
                                    <td>{{ proforma_archived.client.name }}</td>
                                    <td>{{ proforma_archived.title }}</td>
                                    <td>
                                        {% if proforma_archived.id == last.id %}
                                            <a onclick="return confirm('Da li ste sigurni da želite da obrišete dokument?');"
                                               href="/documents/{{ proforma_archived.id }}/delete" class="btn btn-mini
                                               btn-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card border-secondary mb-4">
            <div class="card-header bg-secondary p-2">
                <h6 class="m-0 font-weight-bold text-white">Otpremnica</h6>
            </div>

            <div class="card-body p-2">
                <div class="table-responsive">
                    <table class="table table-hover" id="" width="100%" cellspacing="0">
                        <thead class="thead-light">
                            <tr>
                                <th>oznaka</th>
                                <th>naziv klijenta</th>
                                <th>opis dokumenta</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for delivery_note in delivery_notes %}
                            <tr>
                                <td>
                                    <a href="/documents/{{ delivery_note.id }}">
                                        O_{{ '%04d'|format(delivery_note.getOrdinalNumInYear()) }} - {{ delivery_note.getCreatedAt().format('m / Y') }}
                                    </a>
                                </td>
                                <td>{{ delivery_note.client.name }}</td>
                                <td>{{ delivery_note.title }}</td>
                                <td>
                                    {% if delivery_note.id == last.id %}
                                        <a onclick="return confirm('Da li ste sigurni da želite da obrišete dokument?');"
                                           href="/documents/{{ delivery_note.id }}/delete" class="btn btn-mini
                                           btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h5>Arhivirano</h5>
                    <table class="table table-hover dataTable" id="" width="100%" cellspacing="0">
                        <thead class="thead-light">
                        <tr>
                            <th>oznaka</th>
                            <th>naziv klijenta</th>
                            <th>opis dokumenta</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for delivery_note_archived in delivery_notes_archived %}
                                <tr class="table-secondary">
                                    <td>
                                        <a href="/documents/{{ delivery_note_archived.id }}">
                                            O_{{ '%04d'|format(delivery_note_archived.getOrdinalNumInYear()) }} - {{ delivery_note_archived.getCreatedAt().format('m / Y') }}
                                        </a>
                                    </td>
                                    <td>{{ delivery_note_archived.client.name }}</td>
                                    <td>{{ delivery_note_archived.title }}</td>
                                    <td>
                                        {% if delivery_note_archived.id == last.id %}
                                            <a onclick="return confirm('Da li ste sigurni da želite da obrišete dokument?');"
                                               href="/documents/{{ delivery_note_archived.id }}/delete" class="btn
                                               btn-mini btn-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card border-warning mb-4">
            <div class="card-header bg-warning p-2">
                <h6 class="m-0 font-weight-bold text-white">Povratnica</h6>
            </div>

            <div class="card-body p-2">
                <div class="table-responsive">
                    <table class="table table-hover" id="" width="100%" cellspacing="0">
                        <thead class="thead-light">
                        <tr>
                            <th>oznaka</th>
                            <th>naziv klijenta</th>
                            <th>opis dokumenta</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for return_note in return_notes %}
                            <tr>
                                <td>
                                    <a href="/documents/{{ return_note.id }}">
                                        POV_{{ '%04d'|format(return_note.getOrdinalNumInYear()) }} - {{ return_note.getCreatedAt().format('m / Y') }}
                                    </a>
                                </td>
                                <td>{{ return_note.client.name }}</td>
                                <td>{{ return_note.title }}</td>
                                <td>
                                    {% if return_note.id == last.id %}
                                        <a onclick="return confirm('Da li ste sigurni da želite da obrišete dokument?');"
                                           href="/documents/{{ return_note.id }}/delete" class="btn btn-mini
                                           btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <h5>Arhivirano</h5>
                    <table class="table table-hover dataTable" id="" width="100%" cellspacing="0">
                        <thead class="thead-light">
                        <tr>
                            <th>oznaka</th>
                            <th>naziv klijenta</th>
                            <th>opis dokumenta</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for return_note_archived in return_notes_archived %}
                            <tr class="table-secondary">
                                <td>
                                    <a href="/documents/{{ return_note_archived.id }}">
                                        POV_{{ '%04d'|format(return_note_archived.getOrdinalNumInYear()) }} - {{ return_note_archived.getCreatedAt().format('m / Y') }}
                                    </a>
                                </td>
                                <td>{{ return_note_archived.client.name }}</td>
                                <td>{{ return_note_archived.title }}</td>
                                <td>
                                    {% if return_note_archived.id == last.id %}
                                        <a onclick="return confirm('Da li ste sigurni da želite da obrišete dokument?');"
                                           href="/documents/{{ return_note_archived.id }}/delete" class="btn btn-mini btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
