{{ form_start(form) }}
<div class="row mb-2">
    <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2 col-form-label text-left text-sm-right">
        {{ form_label(form.name) }}
    </div>
    <div class="col-sm-9 col-md-8 col-lg-9 col-xl-10">
        {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Unesite naziv naselja'}}) }}
        {{ form_errors(form.name) }}
    </div>
</div>
<div class="row mb-2">
    <div class="col-sm-3 offset-sm-3 offset-md-4 offset-lg-3 offset-xl-2">
        <button type="submit" class="btn btn-sm btn-success">Snimi</button>
    </div>
</div>
{{ form_end(form) }}
