
<div class="row">
    <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
            <div class="card-header p-2">
                <h6 class="m-0 font-weight-bold text-primary">Kasa</h6>
            </div>
            <div class="card-body p-2">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="" width="100%" cellspacing="0">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center">vrsta transakcije</th>
                                <th class="text-center">vezani dokument</th>
                                <th class="text-center">beleška</th>
                                <th class="text-center">iznos</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for transaction in daily_transactions %}
                            <tr>
                                <td>{{ transaction.transaction.type.name }}</td>
                                <td>
                                    {% if transaction.accounting_document is not null and transaction.accounting_document.getOrdinalNumInYear() > 0 %}
                                        <a href="/documents/{{ transaction.accounting_document.id }}">
                                            {{ transaction.accounting_document.getType().getName() }}
                                            {{ '%04d'|format(transaction.accounting_document.getOrdinalNumInYear()) }}
                                            -
                                            {{ transaction.accounting_document.getDate().format('m / Y') }}
                                            -
                                            {{ transaction.accounting_document.getClient().getName() }}
                                            -
                                            {{ transaction.accounting_document.title }}
                                        </a>
                                    {% endif %}
                                </td>
                                <td>{{ transaction.transaction.note }}</td>
                                <td class="text-right">{{ transaction.transaction.amount }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot class="thead-light">
                          <tr>
                            <th></th>
                            <th></th>
                            <th class="text-right">stanje</th>
                            <th class="text-right">{{ daily_cash_saldo }}</th>
                          </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>