<!-- Proformas -->
<div class="card  border-info mb-4">
    <div class="card-header bg-info p-2">
        <h6 class="m-0 font-weight-bold text-white">Predračun</h6>
    </div>
    <div class="card-body p-2">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>oznaka</th>
                        <th>naziv klijenta</th>
                        <th>naslov dokumenta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proforma in proformas %}
                    <tr>
                        <td>
                            <a href="/documents/{{ proforma.id }}">
                                P_{{ '%04d'|format(proforma.getOrdinalNumInYear()) }} - {{ proforma.getCreatedAt().format('m / Y') }}
                            </a>
                        </td>
                        <td>
                            {{ proforma.client.name }}
                        </td>
                        <td>{{ proforma.title }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Otpremnice -->
<div class="card  border-secondary mb-4">
    <div class="card-header bg-secondary p-2">
        <h6 class="m-0 font-weight-bold text-white">Otpremnica</h6>
    </div>
    <div class="card-body p-2">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>oznaka</th>
                        <th>naziv klijenta</th>
                        <th>naslov dokumenta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for delivery_note in delivery_notes %}
                    <tr>
                        <td>
                            <a href="/documents/{{ delivery_note.id }}">
                                O_{{ '%04d'|format(delivery_note.getOrdinalNumInYear()) }} - {{ delivery_note.getCreatedAt().format('m / Y') }}
                            </a>
                        </td>
                        <td>
                            {{ delivery_note.client.name }}
                        </td>
                        <td>{{ delivery_note.title }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Povratnice -->
<div class="card  border-warning mb-4">
    <div class="card-header bg-warning p-2">
        <h6 class="m-0 font-weight-bold text-white">Povratnica</h6>
    </div>
    <div class="card-body p-2">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="" width="100%" cellspacing="0">
                <thead class="thead-light">
                      <tr>
                            <th>oznaka</th>
                            <th>naziv klijenta</th>
                            <th>naslov dokumenta</th>
                      </tr>
                </thead>
                <tbody>
                    {% for return_receipt in return_receipts %}
                    <tr>
                        <td>
                            <a href="/documents/{{ return_receipt.id }}">
                                POV_{{ '%04d'|format(return_receipt.getOrdinalNumInYear()) }} - {{ return_receipt.getCreatedAt().format('m / Y') }}
                            </a>
                        </td>
                        <td>
                            {{ return_receipt.client.name }}
                        </td>
                        <td>
                            {{ return_receipt.title }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
