{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    {% include 'order/tools_menu.html.twig' %}

    <div class="card mb-4">
        <div class="card-header p-2">
            <h6 class="m-0 font-weight-bold text-primary">Pretraga narudžbenica</h6>
        </div>

        <div class="card-body p-2">
            <div class="table-responsive">
                <table class="table table-hover table-bordered" id="" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th class="px-1 order-number">narudžbenica</th>
                            <th class="px-1 text-center order-status" title="Status narudžbenice">s</th>
                            <th class="px-1 order-supplier">dobavljač</th>
                            <th class="px-1">naslov</th>
                            <th class="px-1">za projekat</th>
                            <th class="px-1"></th>
                        </tr>
                    </thead>
                <tbody>
                {% for order_data in orders_data %}
                    <tr>
                        <td class="px-1">
                            <a href="/orders/{{ order_data.id }}">
                                {{ '%04d'|format(order_data.ordinal_num_in_year) }}-
                                {{ order_data.date }}
                            </a>
                        </td>
                        <td class="px-1 order-status text-center">
                            <span class="badge badge-pill {{ order_status_classes[order_data.status].class }}"
                                  title="{{ order_status_classes[order_data.status].title }}">
                                {{ order_status_classes[order_data.status].icon }}
                            </span>
                            {% if order_data.is_archived %}
                                <span class="badge badge-pill badge-secondary" title="Arhivirano">
                                    A
                                </span>
                            {% endif %}
                        </td>
                        <td class="px-1">
                            {{ order_data.supplier_name }}
                        </td>
                        <td class="px-1">
                            {{ order_data.title }}
                        </td>
                        <td class="px-1">
                            {% if order_data.project %}
                                <a href="/projects/{{ order_data.project.id }}">
                                    {{ '%03d'|format(order_data.project.getOrdinalNumInYear()) }}
                                    - {{ order_data.project.getClient()
                                        .getName() }} - {{ order_data.project.getTitle() }}
                                </a>
                            {% endif %}
                        </td>
                        <td class="px-1">
                            {% if order_data.is_last %}
                                <a onClick="return confirm('Da li sigurno želite obrisati narudžbenicu?')"
                                   href="/orders/{{ order_data.id }}/delete"
                                   class="btn btn-danger btn-mini btn-article">
                                    <i class="fas fa-trash-alt"> </i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h4>Arhivirano</h4>
            <table class="dataTable table table-hover table-bordered" id="" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th class="px-1 order-number">narudžbenica</th>
                        <th class="px-1 text-center order-status" title="Status narudžbenice">s</th>
                        <th class="px-1 order-supplier">dobavljač</th>
                        <th class="px-1">naslov</th>
                        <th class="px-1">za projekat</th>
                        <th class="px-1"></th>
                    </tr>
                </thead>
                <tbody>
                {% for order_archived_data in orders_archived_data %}
                    <tr class="table-secondary">
                        <td class="px-1">
                            <a href="/order/{{ order_archived_data.id }}">
                                {{ '%04d'|format(order_archived_data.ordinal_num_in_year) }}-
                                {{ order_archived_data.date }}
                            </a>
                        </td>
                        <td class="px-1 order-status text-center">
                            <span class="badge badge-pill {{ order_status_classes[order_archived_data.status].class }}"
                                  title="{{ order_status_classes[order_archived_data.status].title }}">
                                {{ order_status_classes[order_archived_data.status].icon }}
                            </span>
                            {% if order_archived_data.is_archived %}
                                <span class="badge badge-pill badge-secondary" title="Arhivirano">
                                    A
                                </span>
                            {% endif %}
                        </td>
                        <td class="px-1">
                            {{ order_archived_data.supplier_name }}
                        </td>
                        <td class="px-1">
                            {{ order_archived_data.title }}
                        </td>
                        <td class="px-1">
                            {% if order_archived_data.project %}
                                <a href="/project/{{ order_archived_data.project.getId() }}">
                                    {{ '%03d'|format(order_archived_data.project.getOrdinalNumInYear()) }}
                                    - {{ order_archived_data.project.getClient()
                                        .getName() }} - {{ order_archived_data.project.getTitle() }}
                                </a>
                            {% endif %}
                        </td>
                        <td class="px-1">
                            {% if order_archived_data.is_last %}
                                <a onClick="javascript: return confirm(\'Da li sigurno želite obrisati narudžbenicu?\')"
                                   href="/order/{{ order_archived_data.id }}/delete"
                                   class="btn btn-danger btn-mini btn-article">
                                    <i class="fas fa-trash-alt"> </i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
