<img src="../images/logo.png" >
<span>{{ company_info.name }} {{ company_info.city }}, tel: +381 21 751112, mob: +381 60 7511123</span>

  <h1 style="text-align: center">ZAPISNIK O MONTAŽI</h1>
  <hr>
  <div>Datum: ______________ Adresa montaže: ___________________________________</div>

  <div>Naručilac: <u>{{ client.name}}, {{ client.city }}</u></div>

  <div>Ugovor broj: _________________________ Projekat broj: <u>{{ '%04d'|format(project.getOrdinalNumInYear()) }}/{{ project.getCreatedAt().format('d-M-Y') }}</u></div>
  <hr>

  <pre style="color: #000000;">

  Ugradjene pozicije: ________________________________________________________________

  ____________________________________________________________________________________

  ____________________________________________________________________________________

  ____________________________________________________________________________________

  ____________________________________________________________________________________

  ____________________________________________________________________________________

  ____________________________________________________________________________________

  ____________________________________________________________________________________

  ____________________________________________________________________________________

  ____________________________________________________________________________________

  ____________________________________________________________________________________

  ____________________________________________________________________________________
  <hr>
  
  Vreme pocetka ugradnje: ________________ Vreme zavrsetka ugradnje: _________________

  Primedbe narucioca: ________________________________________________________________
  
  ____________________________________________________________________________________

  ____________________________________________________________________________________

  ____________________________________________________________________________________
  <hr>
  Napomena: Potpisivanjem ovog zapisnika narucilac potvrdjuje prijem narucenih
  proizvoda i od datuma ugradnje zapocinje garantni rok.
  <hr>
  </pre>
  {{ company_info.name }}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  za Narucioca
  <pre>
____________________                            ____________________
  </pre>
