<style type="text/css">
    table {
        padding: 3px 10px 3px 10px;
    }
</style>

<table border="0">
    <tr>
        <td width="150px"><h3>PROJEKAT</h3></td>
        <td width="400px">za projekat #{{ '%04d'|format(project.getOrdinalNumInYear()) }}</td>
        <td>{{ project.getCreatedAt().format('d-M-Y') }}</td>
    </tr>
</table>

<table border="0">
    <tr>
        <td width="80px">klijent:</td>
        <td width="auto">{{ client.name }}{% if client.name_note %}, {{ client.name_note }} {% endif %}</td>
    </tr>
    <tr>
        <td>adresa:</td>
        <td>{{ client.street }} {{ client.home_number }}, {{ client.city }}, {{ client.country }}, {{ client.address_note }}</td>
    </tr>
    <tr>
        <td></td>
        <td>
            {% for client_contact in client.contacts|slice(0, 2) %}
                {{ client_contact.type.name }}: {{ client_contact.body }}<br>
            {% endfor %}
        </td>
        <td></td>
    </tr>
</table>

<table border="1">
    <tr><td>{{ project.getTitle() }}</td></tr>
</table>
