<!-- View Cutting Data -->
<div class="card mb-4">
    <div class="card-header p-2">
        <h6 class="m-0 font-weight-bold text-dark">
            Krojna lista: KL
            {{ '%04d'|format(cutting.getOrdinalNumInYear()) }} - {{ cutting.getCreatedAt().format('m') }}
            <span class="font-weight-normal">
                {{ cutting.getCreatedAt().format('d-M-Y') }}
            </span>
        </h6>
    </div>
    <div class="card-body p-2">
        <dl class="row mb-0">
            <dt class="col-sm-3 col-md-2">klijent:</dt>
            <dd class="col-sm-9 col-md-10">{{ client.name }}</dd>
            <dt class="col-sm-3 col-md-2">adresa:</dt>
            <dd class="col-sm-9 col-md-10">
                {{ client.street }} {{ client.home_number }}, {{ client.city }}, {{ client.country }}
            </dd>
        </dl>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>red.<br />broj</th>
                        <th class="px-1">vrsta polja</th>
                        <th class="px-1">širina<br /> letvice</th>
                        <th class="px-1">širina<br />polja</th>
                        <th class="px-1">visina<br />polja</th>
                        <th class="px-1">srednja<br />visina<br />polja</th>
                        <th class="px-1">razmak<br />letvica</th>
                        <th class="px-1">broj<br />polja</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% set count = 0 %}
                    {% for cutting_sheet_article in cutting_sheet_articles %}
                        {% set count = count + 1 %}
                        <form>
                            <fieldset disabled>
                                <input type="hidden" name="cutting_fence_article_id"
                                       value="{{ cutting_sheet_article.id }}" />
                                <input type="hidden" name="id" value="{{ cutting_id }}" />
                                <tr>
                                    <td class="px-1">{{ count }}.</td>
                                    <td class="px-1">
                                        <select name="fence_model_id" required disabled>
                                            <option value="{{ cutting_sheet_article.getFenceModel().getId() }}">
                                                {{ cutting_sheet_article.getFenceModel().getName() }}
                                            </option>
                                        </select>
                                    </td>
                                    <td class="px-1">
                                        <select name="picket_width" required disabled>
                                            <option value="{{ cutting_sheet_article.getPicketWidth() }}">
                                                {{ cutting_sheet_article.getPicketWidth() }}
                                            </option>
                                        </select>
                                    </td>
                                    <td class="px-1">
                                        <input class="input-box-65" type="text" name="width"
                                               value="{{ cutting_sheet_article.getWidth() }}" disabled >
                                    </td>
                                    <td class="px-1">
                                        <input class="input-box-65" type="text" name="height"
                                               value="{{ cutting_sheet_article.getHeight() }}" disabled >
                                    </td>
                                    <td class="px-1">
                                        <input class="input-box-65" type="text" name="mid_height"
                                               value="{{ cutting_sheet_article.getMidHeight() }}" disabled >
                                    </td>
                                    <td class="px-1">
                                        <input class="input-box-45" type="text" name="space"
                                               value="{{ cutting_sheet_article.getSpace() }}" disabled >
                                    </td>
                                    <td class="px-1">
                                        <input class="input-box-45"type="text" name="field_number"
                                               value="{{ cutting_sheet_article.getNumberOfFields() }}" disabled >
                                    </td>
                                    <td class="px-1">
                                        <button type="submit" class="btn btn-mini btn-outline-secondary disabled" disabled>
                                            <i class="fas fa-save"></i>
                                        </button>
                                        <a>
                                            <button class="btn btn-mini btn-secondary disabled" type="button" disabled>
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            </fieldset>
                        </form>
                    {% endfor %}

                    <tr>
                        <td colspan="3">Ukupno letvica (m): </td>
                        <td>{{ total_picket_lenght|number_format(2, '.', ',') }}</td>
                        <td colspan="5">
                            {% if cutting_sheet_articles %}
                                <a href="/cuttings/{{ cutting_id }}/export-to-accounting-document?total_picket_lenght={{
                                total_picket_lenght }}&total_kap={{ total_cap }}&picket_width={{
                                cutting_sheet_articles[0].getPicketWidth() }}">
                                    <button type="submit" class="btn btn-outline-secondary btn-sm">Otvori novi predracun</button>
                                </a>
                            {% endif %}
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">Ukupno kapa za letvice (kom): </td>
                        <td>{{ total_cap }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
  
    </div>
  
</div>
